<div id="modal-recomends" class="overlay modal">
  <span class="closebtn close" title="Close Overlay">x</span>
  <div class="overlay-content">
    <form>
    <input type="text" placeholder="recomendações fornecidas..." id="request_recomends">
    <a type="submit" id="button-search">Buscar</a>
    </form>
  </div>
</div>