<div id="modal-recomends" class="overlay modal">
  <span class="closebtn close" title="Close Overlay">x</span>
  <div class="overlay-content">
    <form action="action_page.php">
        <input type="text" placeholder="recomendações fornecidas..." id="request_recomends" name="search">
        <a type="submit">Buscar</a>
    </form>
  </div>
</div>